/* --- 1. IMPORT FONT DARI GOOGLE --- */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

/* --- 2. TAILWIND DIRECTIVES --- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- 3. CUSTOM SCROLLBAR (BONUS BIAR RAPI) --- */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}